MONGODB_URI=mongodb+srv://<account>:<password>@cluster-base-compro.aemtp94.mongodb.net/base-compro?appName=cluster-base-compro
JWT_SECRET=your-super-secret-key-change-this
NEXT_PUBLIC_API_URL=http://localhost:3000/api
RESEND_API_KEY=ioajsdnfiunawi45j23i
RESEND_FROM_EMAIL=onboarding@resend.dev
NEXT_PUBLIC_APP_URL=http://localhost:3000
